@use 'base/variables' as v;
.footer{
    padding: v.$separacion;
    background-color: v.$grisOscuro;
    
    .contenerdor-footer{
        padding-top: v.$separacion ;
    }

    .copyrigth{
        color: v.$blanco;
        text-align: center;
    }
}