@use "base/mixins" as m;
@use "base/variables" as v;
@use "sass:color"; // Importa el módulo de color


.precio {
  color: v.$verde;
  font-weight: v.$bold;
  font-size: 3rem;
}
.iconos-caracteristicas {
  display: flex;
  list-style: none;

  li {
    flex: 1;
    display: flex;

    img {
      flex: 0 0 3rem;
      margin-right: 1rem;
    }
  }
}
